<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Calendar Klaxon</string>
	<key>CFBundleIdentifier</key>
	<string>nyc.welles.klaxon</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>Klaxon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar Klaxon needs access to your calendars to notify you when events are about to start.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Calendar Klaxon needs access to your calendars to notify you when events are about to start.</string>
</dict>
</plist>
